body{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 50px;    
}

h1{
    font-size: 60px;
    color: #363958;
}
h2{
    font-weight: 50px;
}
p{
    font-size: 20px;
}

.orange-marker{
    color: #FF8367;
}
.dark-marker{
    color: #363958;
}
.white-marker{
    color: white;
}

.hyper-link{
    font-weight: bolder;
    color: #f306cc;
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(229, 253, 14);
    border-radius: 10px
}    



.three{
    margin: auto;
    width: 100%;
    text-align: center;    
    background-color: #F8F9FC;
    
}


.four{
    text-align: center;
    background-image: url(shapes/Group_33094_1.png);
    background-size: 800px 150px;
    background-repeat: no-repeat;
    background-position: 50% 0% ;
    padding-top: 10px;
}
footer{
    text-align: center;
}

.half{
    width: 40%;
    margin-left: 10%;
    float:left;
}
.half img{
    float: left;
    width: 50%;
}
.three img{
    padding-right: 35px;
    width: 30%;
    float:left;
}
.social img{
    width: 20px;
    height: 20px;
    padding-left: 50%;
    float: left;
    padding-bottom: 2%;
}